/* General Styles */
body {
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
}

.navbar {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.103) !important;
}
/*Botón Empleos y Perfil*/
.btn-custom {
    color: #000;
    border: none;
    background: transparent;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.3s;
}

.btn-hover {
    color: #000;
    border: none;
    background: transparent;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.3s;
}

.btn-hover:hover {
    text-decoration: underline;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.452);
}

/* Botón Eliminar filtros */
.btn-outline-dark {
    border-width: 1px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 18px;
    padding: 5px 10px; 
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
    color: #000;
}

.btn-outline-dark:hover {
    background-color: #000;
    color: #fff;
}

.generate-button {
    background-color: #ffffff;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.generate-button:hover {
    background-color: #000;
}

.job-listing {
    border-bottom: 3px solid #dee2e6;
    padding-bottom: 1rem !important;
    margin-bottom: 1rem !important;
}

.job-listing:last-child {
    border-bottom: none;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.job-name {
    color: #7c411b;
}
  /* Card */

.card-body img {
    margin: 0 auto;
}

.card {
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra para las tarjetas */
}


.job-listing {
    border-bottom: 3px solid #dee2e6;
    padding-bottom: 1rem !important;
    margin-bottom: 1rem !important;
}

.job-listing:last-child {
    border-bottom: none;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}


  /* Modal */
.modal-dialog {
    max-width: 500px;
}

  /* Botón de Eliminar filtros */
.delete-icon {
    margin-right: 10px;
}

  /* Botón Solicitar */
.btn-dark {
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    font-weight: 600;
    font-size: 18px;
    padding: 5px 20px;
    border: 1px solid transparent;
}

.btn-dark:hover {
    background-color: transparent;
    color: #000;
    border-color: #000;
}

  /* Font Styles */
h2, h3 {
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

p {
    color: #555;
    font-size: 16px;
}

.font-weight-semibold {
    font-weight: 600;
}

.font-weight-bold {
    font-weight: 700;
}

  /* Modal Styles */
.modal-body input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.modal-body .form-control {
    margin-bottom: 20px;
}

    /* General styles for the modals */
    .modal-dialog {
        max-width: 752px;
        height: 437px;
    }
    
    .modal-content {
        border-radius: 10px;
    }
    
    /* Header styles */
    .modal-header {
        border-bottom: none;
    }
    
    .modal-title {
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 22px;
    }
    
    /* Body styles */
    .modal-body {
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        color: #000000;
    }
    
    .modal-body p {
        margin-bottom: 1rem;
    }
    
    hr {
        border: none;
        height: 1px;
        background-color: #999999;
    }
    
    .custom-hr {
        border: none;
        height: 1px;
        background-color: #999999;
        margin: 15px 0; /* Ajusta el margen si es necesario */
    }
    
    
    /* Form styles */
    .form-label {
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        color: #717171;
    }
    
    .form-control {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        border-radius: 5px;
        padding: 10px;
    }
    
    .border-dashed {
        border: 2px dashed #999999;
        border-radius: 5px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #717171;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        background-color: #f9f9f9;
    }
    
    .border-dashed:hover {
        background-color: #f1f1f1;
    }

    /* Reduce el espacio entre el título y el texto */
.modal-body {
    padding-top: 0px; /* Ajusta el espacio superior si es necesario */
}

    
    /* Footer styles */
    .modal-footer {
        border-top: none;
        justify-content: end;
        gap: 15px;
    }
        

    
    .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    }

    .icon-button i {
    font-size: 1.5rem;
    color: black;
    }

    .icon-button:hover i {
    color: #555; /* Optional: Slight hover effect for black icons */
    }

    .delete-icon i {
    color: red;
    }

    .delete-icon:hover i {
    color: darkred; /* Optional: Hover effect for delete icon */
    }

    .company-title {
    font-size: 1.15rem;
    }

    .navbar-link {
    font-weight: bold;
    color: black;
    text-decoration: none;
    }

    .navbar-link:hover {
    color: #7c411b;
    }

    .border-section-modal {
    border-bottom: 3px solid #dee2e6;
    }